@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&family=Cormorant+SC:wght@300;400;500&family=DM+Sans:wght@300;400&display=swap");

:root {
  --navy: #1b2a4a;
  --gold: #b8902a;
  --parch: #fefcf7;
  --parch2: #f5f0e4;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--parch);
  color: var(--navy);
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

input,
textarea {
  font-family: "Cormorant Garamond", serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--parch);
}
::-webkit-scrollbar-thumb {
  background: rgba(184, 144, 42, 0.33);
  border-radius: 3px;
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}
.font-cormorant-sc {
  font-family: "Cormorant SC", serif;
}
